<ion-view>
  <ion-content>
  	<ion-refresher
      pulling-text="Ažuriranje vesti..."
      on-refresh="sync()">
    </ion-refresher>
    <p ng-show="empty">Nema nijedne vesti.</p>
    <a ng-model="firstPostCat" href="#/app/catvest/{{firstPostCat.id}}" ng-hide="empty">
      <div ng-style="{'background-image':'url(' + firstPostCat.img + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}" class="firstPost">
        <div class="gr-caption">
          <p>{{ firstPostCat.naslov | limitTo: firstChar }}{{firstPostCat.naslov.length > firstChar ? '...' : ''}}</p>
        </div>
      </div>
    </a>
    <div class = "row" style="flex-wrap: wrap; padding: 0 !important;" ng-hide="empty">
      <a ng-repeat="topPost in topPostsCat" href="#/app/catvest/{{topPost.id}}" class="top-post col col-50">
        <div class="top-post-div" ng-style="{'background-image':'url(' + topPost.img + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
            <div class="gr-caption-top">
                <p>{{ topPost.naslov | limitTo: char }}{{topPost.naslov.length > char ? '...' : ''}}</p>
            </div>
        </div>
      </a>
    </div>
    <ion-list ng-hide="empty">
      <ion-item class="item-thumbnail-left news" ng-repeat="article in newsCat | limitTo:numberOfItemsToDisplay"" href="#/app/catvest/{{article.id}}">
        <img ng-src="{{article.img}}">
        <h2>{{article.naslov}}</h2>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        immediate-check="false"
        on-infinite="loadMore()"
        distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
