<ion-view>
  <ion-content class="padding">
      <video ng-src="{{trustSrc(liveurl)}}" width="100%" height="100%" autoplay="autoplay" controls> 
          Your browser does not support the VIDEO tag and/or RTP streams. 
      </video> 
  </ion-content>
</ion-view>