<ion-view>
  <ion-content class="padding">
      <div class="list list-inset">
          <label class="item item-input">
              <input type="text" placeholder="Korisničko ime" ng-model="username">
          </label>
          <label class="item item-input">
              <input type="password" placeholder="Lozinka" ng-model="password">
          </label>
      </div>
      <button class="button button-block button-calm" ng-click="login(username, password)">Prijavi se</button>
  </ion-content>
</ion-view>
