<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-light" align-title="center">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-title style="left: 0 !important; text-align: center !important;">
          <img class="nav-bar-logo" src="img/logo.jpg"/>
      </ion-nav-title>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left">
    <ion-header-bar class="bar-light">
      <img src="img/logo.jpg" class="menu-logo"/>
    </ion-header-bar>
    <ion-content>
      <ion-list>
        <ion-item menu-close ui-sref="app.pocetna">
          Početna
        </ion-item>
        <ion-item ng-repeat="cat in categories" ui-sref="app.cat({catId: {{cat.id}}})" menu-close>
          {{cat.category}}
        </ion-item>
        <ion-item menu-close ui-sref="app.live" ng-show="loggedIn">
          SCTV Live
        </ion-item>
        <ion-item menu-close ng-click="betGo()">
          Klađenje
        </ion-item>
        <ion-item menu-close class="item-icon-left login-menu" ng-click="facebookGo()">
          <i class="icon ion-social-facebook"></i>
          Sportska Centrala
        </ion-item>
        <ion-item menu-close class="item-icon-left" ng-click="twitterGo()">
          <i class="icon ion-social-twitter"></i>
          @scentrala
        </ion-item>
        <ion-item class="login-menu" ui-sref="app.login" menu-close ng-hide="loggedIn">
          Prijavi se
        </ion-item>
        <ion-item class="login-menu" menu-close ng-click="logout()" ng-show="loggedIn">
          Odjavi se
        </ion-item>
        <ion-toggle ng-model="notifications.checked" ng-change="pushNotificationChange()" toggle-class="toggle-calm">Obaveštenja</ion-toggle>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
