<ion-view>
  <ion-content class="has-header">
    <ion-refresher
      pulling-text="Ažuriranje vesti..."
      on-refresh="sync()">
    </ion-refresher>
    <a ng-model="firstPost" href="#/app/vest/{{firstPost.id}}">
      <div ng-style="{'background-image':'url(' + firstPost.img + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}" class="firstPost">
        <div class="gr-caption" ng-show="firstPost != undefined">
          <p>{{ firstPost.naslov | limitTo: firstChar }}{{firstPost.naslov.length > firstChar ? '...' : ''}}</p>
        </div>
      </div>
    </a>
    <div class = "row" style="flex-wrap: wrap; padding: 0 !important;">
      <a ng-repeat="topPost in topPosts" id="top-post" href="#/app/vest/{{topPost.id}}" class="top-post col col-50">
        <div class="top-post-div" ng-style="{'background-image':'url(' + topPost.img + ')', 'background-repeat': 'no-repeat', 'background-size': 'cover'}">
            <div class="gr-caption-top">
                <p>{{ topPost.naslov | limitTo: char }}{{topPost.naslov.length > char ? '...' : ''}}</p>
            </div>
        </div>
      </a>
    </div>
    <ion-list>
      <ion-item class="item-thumbnail-left news" ng-repeat="article in news | limitTo:numberOfItemsToDisplay" href="#/app/vest/{{article.id}}">
        <img ng-src="{{article.img}}">
        <h2>{{article.naslov}}</h2>
      </ion-item>
    </ion-list>
    <ion-infinite-scroll
        immediate-check="false"
        on-infinite="loadMore()"
        distance="1%">
  </ion-infinite-scroll>
  </ion-content>
</ion-view>
