<ion-view on-swipe-left="left()" on-swipe-right="right()">
<ion-nav-buttons side="right">
      <button class="button button-icon icon ion-android-share-alt" ng-click="share()"></button>
    </ion-nav-buttons>
	<ion-content class="padding">
		<div ng-model="vest" style="padding-bottom: 30px !important;">
			<div ng-bind-html="parseHtml(vest.news)" class="vest">
			</div>
			<div externalscript></div>
		</div>
	</ion-content>
</ion-view>