[id^="twitter-widget"] {
    min-width: 300px !important;
    width: 100% !important;
}
.slider-pager {
    display: none !important;
}
.login-menu {
    margin-top: 60px;
}

.menu-logo {
    margin: 0 auto;
    margin-top: 0 !important;
    height: 100%;
}

.nav-bar-logo {
    height: 100%;
}

.firstPost {
	padding: 0 !important;
	background-color: transparent;
	background-repeat: no-repeat;
}

.firstPost {
	height: 245px;
	background-position: center;
	position: relative;
}

.top-post {
    height: 187px;
    padding: 0 !important;
}

.top-post-div {
    height: 100%;
    position: relative;
}

.gr-caption {
  	width: 90%;
    left: 5vw;
    background: transparent;
    position: absolute;
    bottom: 1px;
    text-align: center;
}     
     
 .gr-caption p {
	color: #fff;
    background-color: rgba(0,0,128,0.4);
    padding: 1%;
    font-family: 'Trebuchet MS', Arial, Helvetica;
    font-size: 16px;
    text-decoration: none;
    line-height: 19px;
    text-transform: uppercase;
}

.gr-caption-top {
  	width: 90%;
    left: 5%;
    background: transparent;
    position: absolute;
    bottom: 1px;
    text-align: center;
}     
     
 .gr-caption-top p {
	color: #fff;
    background-color: rgba(0,0,128,0.4);
    padding: 1%;
    font-family: 'Trebuchet MS', Arial, Helvetica;
    font-size: 16px;
    text-decoration: none;
    line-height: 19px;
    text-transform: uppercase;
}

.news h2 {
	white-space: pre-wrap !important;
}

.vest img {
    width: 100% !important;
    height: auto !important;
}

.vest iframe {
    width: 100% !important;
}

@media only screen and (min-width: 600px) {
    .firstPost {
        height: 420px;
    }
    .top-post {
        height: 250px;
    }
}

@media only screen and (min-width: 768px) {
    .firstPost {
        height: 420px;
    }
    .top-post {
        height: 285px;
    }
}